/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

 Header {

	font-family: Georgia, 'Times New Roman', Times, serif;
	background: #c6c4ff;
	width: 540px;
	border: 15px solid #fcba03;
	padding: 50px;
	margin: 20px;
 }


body {
	font-family: ARIAL;
	background: #af80cf;
	color: #3cbd15;
}

footer {

font-size: 0.8em;
width: 540px;
	border: 15px solid #fcba03;
	padding: 50px;
	margin: 20px;
}
div#container {
margin-right: auto;
margin-left:auto;
margin-top: 40px;
width: 800px;
border: 1px solid #3f15bd;	
padding: 25px;
background: #e3a171;
}




