
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black; 
}

html {
    /* Standard text-settings below */
    font-size: 1em;
    line-height: 1.4em;
}

header {
    font-family: 'Koulen', cursive;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: black; 
}

header h1 {
    color: #d7a0f2;
    font-size: 3em; 
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px white;
}

header h2 {
    color: #b875d9;
    font-size: 2em;
    font-weight: bold; 
    letter-spacing: 1px; 
    text-shadow: white; 
}

body {
    font-family: 'Homemade Apple', cursive;
    color: #815696;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em; 
    line-height: 1.6em; 
}

footer {
    font-family: 'Koulen', cursive;
    font-size: 1em;
}

#container {
    margin: 20px; 
    padding: 20px; 
    border: 1px solid #fff; 
}
